@import url('https://fonts.googleapis.com/css2?family=Lato:ital,wght@0,100;0,300;0,400;0,700;0,900;1,100;1,300;1,400;1,700;1,900&display=swap');


/* shared css */
*{
    font-family: 'Lato', sans-serif;
    margin: 0;
    padding: 0;
}
.alignment {
    width: 80%;
    margin: auto;
  }
.flower_btn{
    text-decoration: none;
    color: white;
    background-color: #E55473;
    border-radius: 5px;
    padding: 10px 20px;

}
.flower_con{
    margin-top: 10px;
    display: flex;
    gap: 15px;
    justify-content: center;
}
.title_text,.title_text1{
    text-align: center;
    font-weight: 600px;
    padding-bottom: 20px;
    font-family: Lato;
    font-size: 25px;
    font-weight: 800;
}
.title_text{
    color: #272727;
}
.title_description,.title_description1,.title_description2{
    text-align: center;
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}
.title_description{
    color: rgba(39, 39, 39, 0.60);
}
.color_text{
    color: #E55473;
}
/* header part css */
header{
    background: rgba(229, 84, 115, 0.10);
}
.intro{
    padding-top: 2%;
    display: flex;
    justify-content: space-between;
}
.intro_con{
    padding-top: 8%;
}
.intro_con h1{
    font-size: 40px;
    font-weight: 800;
}
.intro_con p{
    padding:2% 0;
    color: rgba(39, 39, 39, 0.60);
    font-size: 15px;
    font-weight: 400;
    line-height: 20px;
}

.image{
    height: 400px;
    width: 300px;
}

/* body part css */
section{
    margin-top: 80px;
}
.flower{
    text-align: center;
}
.inner_sub{
    padding-top: 40px;
    padding-left: 30px;
    padding-right: 30px;
    height: 300px;
    width: 250px;
    border-radius: 300px 300px 0px 0px;
    background: rgba(167, 33, 98, 0.15);
    margin-bottom: 30px;
}

.flower_name{
    text-decoration: none;
    color: #272727;
    text-align: center;
    font-size: 20px;
    font-weight: 700;
    line-height: 35px;
    text-decoration-line: underline;
    
}
.deal_section{
    background: rgba(229, 84, 115, 0.05);
   
}
.deal{
    
    display: flex;
    justify-content: space-between;
    padding: 50px 0px;
}
.deal_con{
    padding-top: 170px;
    text-align: center;
    align-items: center;
}
.image1{
    height: 300px;
    width: 235px;
    box-shadow: 1px 0px 10px 0px rgb(235, 231, 231);
}
.details{
    background-image: url('Flower Asset/Rectangle 9.png');
    background-repeat: no-repeat;
    background-size: cover;
    text-align: center;
    padding: 60px 0;
}
.input{
    display: flex;
    justify-content: center;
    gap: 15px;
    padding-top: 30px;
}
.email{
    border: none;
    height: 40px;
    width: 400px;
    border-radius: 5px;
    padding-left: 15px;
}
/* footer part css */
footer{
    margin-top: 80px;
    background: #111010;
    padding: 50px;
}
.footer_con{
    text-align: center;
}
.title_text1{
    color: white;
}
.title_description1{
    color: white;
}
.title_description2{
    color: rgba(255, 255, 255, 0.40);
}